/*

# Ignore All But These Core Directories
!config/
!defaultconfigs/
!kubejs/
!mods/

# Un-Ignore These Core Files

!.gitignore

# Re-Ignore these Sub Directories

config/xaero/*
config/fancymenu/*
config/jei/*
config/defaultworldtype/*

# Re-Ignore these Sub Files

config/xaero*
kubejs/server_scripts/mbhelper.js
config/chloride-client.json
config/exnihilosequentia-common.toml
config/invtweaks-client.toml
config/iris_shader_folder.properties
config/squatgrow-common.yaml
config/waystones-common.toml