/*

# Ignore All But These Core Directories
!config/
!defaultconfigs/
!kubejs/
!mods/

# Un-Ignore These Core Files

!.gitignore

# Re-Ignore these Sub Directories

config/xaero/*
config/fancymenu/*
config/jei/*
config/defaultworldtype/*

# Re-Ignore these Sub Files

config/xaero*
